.container {
    padding: 10px;
}

.player {
    min-height: 250px;
    max-height: 500px;


}

.player-container {
    background-image: url('./../images/Garou-mark-of-the-wolves-logo.png');
    background-repeat: no-repeat;
    ####background-attachment: fixed;
    background-position: bottom;
}

#player1, #player2 {
    border: 3px black solid;
    font-size: 48px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#reset {
    border: 3px black solid;
    font-size: 48px;
    text-align: center;
    width: 100%;

}
